BODY {
  background-color : #F7FFE8;
  color:black;
  font-family: sans-serif;
  font-weight: 200;
}

div.center { text-align: center}

div.c1 { text-align: center}


.verbatim { 
  color:#005566;
  font-family: "fixed", serif;
  font-weight:600;
}


PRE {
  color:#005566;
  font-family: "fixed", serif;
  font-weight:600;
}

TT {
  color:#005566;
  font-family: "fixed", serif;
  font-weight:600;
}


P { 
/*  width : 40em; */
  text-align : justify;

  /* cursor : crosshair */
}

.img {
        border-width: 0
}

a:link {
	color: #00AAAA;
	text-decoration : none;
        border-width: 0
}
a:visited {
        color: #55BB88;
	text-decoration : none;
        border-width: 0
}
a:active {
	color: #ffcc66;
	text-decoration : none;
        border-width: 0
}
a:hover {
	color: #55AACC;
        font-weight:900;
        border-width: 0 
}
a.selected:link {
	color: #ffcc66;
}
a.selected:visited {
	color: #ffcc66;
}
a.selected:active {
	color: #ffcc66;
}
a.selected:hover {
	color: #ffcc66;
	text-decoration : none;
}


.menu, .menu TD, .menu TH {
background-image : url('images/mini-logo.jpg');
}

#title
{
  color: #00AAAA;
  font-family: sans-serif;
  font-style : italic;
  font-weight: 600;
  font-size : 18pt;
  text-align : center;
}

#highlight {
color: #ffcc66;
link-color: red;
font-family:sans-serif;
font-weight:900;
}


#indented {
position : relative;
left : 40px;
}

.indent, .indent TD, .indent TH {
position : relative;
left : 40px;
}



#moveddown {
position : relative;
top : 40px;
}


.background, .background TD, .background TH
{
background-color:#F7FFE8;
color:black;
font-family:sans-serif;
font-weight:200;
}


